%section#latest-reviews 
  .small-12.columns
    %h2 Últimos Reviews
  .large-3.medium-3.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("6.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Título do Review
              %p.hide-for-medium 
                Subtitulo do Review
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o  
            .author
              Nome do Autor
              = image_tag("user1.jpg")

  .large-3.medium-3.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("9.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Título do Review
              %p.hide-for-medium 
                Subtitulo do Review
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o  
            .author
              Nome do Autor
              = image_tag("user1.jpg")

  .large-3.medium-3.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("10.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Título do Review
              %p.hide-for-medium 
                Subtitulo do Review
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o  
            .author
              Nome do Autor
              = image_tag("user1.jpg")    
  .large-3.medium-3.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("10.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Título do Review
              %p.hide-for-medium 
                Subtitulo do Review
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o
                %li
                  %i.fa.fa-star-o  
            .author
              Nome do Autor
              = image_tag("user1.jpg") 
  .small-12.columns             
    = link_to ( 'Ver todos'), '#', :class => "button push-right"            