%section#allshows
  .small-12.columns
    %h2 Todas as Séries
  .large-2.medium-4.columns
    %div
      %a{:href => "singleshow"}
        .imageWrapper
          %span.newepisodes
          = image_tag("1.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Two Broke Girls
              %span 4 Temporadas
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("2.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                24 Horas
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("4.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                American Horror Story
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
                
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("1.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Two Broke Girls
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
                
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("2.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                24 Horas
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("4.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                American Horror Story
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          %span.newepisodes
          = image_tag("1.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Two Broke Girls
              %span 4 Temporadas
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("2.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                24 Horas
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("4.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                American Horror Story
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
                
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("1.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Two Broke Girls
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
                
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("2.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                24 Horas
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("4.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                American Horror Story
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153 
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          %span.newepisodes
          = image_tag("1.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Two Broke Girls
              %span 4 Temporadas
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("2.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                24 Horas
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("4.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                American Horror Story
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
                
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("1.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                Two Broke Girls
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
                
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("2.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                24 Horas
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
  .large-2.medium-4.columns
    %div
      %a{:href => ""}
        .imageWrapper
          = image_tag("4.jpg", :class => "image-item")
          .box-description
            .small-12.columns
              %h4 
                American Horror Story
              %span 4 Temporadas  
              %ul.rating
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star
                %li
                  %i.fa.fa-star-o

            .small-6.columns
              %div
                %i.fa.fa-comment
                14 
            
            .small-6.columns    
              %div
                %i.fa.fa-send
                153
.row                  
 