!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Myapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body	 
    #wrapper
      %header#fading
        .small-12.medium-3.columns
          = link_to image_tag( 'logo.svg'), '/'
        .small-12.medium-9.columns
          %ul.push-right
            %li
              %input{:name => "s", :results => "5", :type => "search", :placeholder => "Busca"}
            %li.hide-for-small-only
              = link_to ( 'Todas as Séries'), '/allshows'
            %li
              %button.facebook-login.hide-for-small
                Entrar com Facebook
              %button.facebook-login.show-for-small
                Entrar 
      #main-content
        = yield
      %footer
        Copyright 2015 Temporada
      
      
      