!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body	 
    #wrapper
      %header#fading
        .row
          = link_to image_tag( 'logo.svg'), '/test'
          %ul
            %li
              %input{:name => "s", :results => "5", :type => "search", :placeholder => "Busca"}
            %li Home
            %li Todas as Séries
            %li 
              %button.facebook-login
                Entrar com Facebook
      #main-content
        = yield
      %footer
      
      
      