!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body	 
    #wrapper
      %header#fading
        = link_to image_tag( 'logo.svg'), '/test'
        %ul
          %li
            / %input{:name => "s", :results => "5", :type => "search", :placeholder => "Busca"}
            .search_field{:style => "display:none;"}
              %input#search{:name => "search", :placeholder => "Search", :type => "search"}
            %a.opensearch{"data-icon" => "search", "data-iconpos" => "right", "data-mini" => "false", "data-role" => "button", "data-theme" => "e", :href => "#"} 
              %i.fa.fa-search
            
          %li Todas as Séries
          %li 
            %button.facebook-login
              Entrar com Facebook
      #main-content
        = yield
      %footer
        Copyright 2015 Temporada
      
      
      